<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <title>Geode</title>
</head>
<body>
    <img src="background.png" class="bg">
    <div class="geode-layer"></div>
    <div class="geode-app">
        <div class="geode-window">
            <div class="window-top">
                <span class="window-title">
                    Geode Main Window
                </span>
                <div class="window-buttons">
                    <span class="iconify window-button" data-icon="bx:bxs-pin" data-inline="false"></span><span class="iconify window-button" data-icon="ci:close-big" data-inline="false"></span>
                </div>
            </div>
            <div class="window-drag drag-top"></div>
            <div class="window-drag drag-bottom"></div>
            <div class="window-drag drag-left"></div>
            <div class="window-drag drag-right"></div>
            <div class="window-content">
                <p style="color: rgb(195, 195, 195); margin: 5px;">
                    THIS IS THE CONTENT OF THE WINDOW! BE SURE TO HIT THAT SUBSCRIBE BUTTON AND RING THAT BELL ICON, LETS GO!
                </p>
            </div>
        </div>
    </div>
    <span class="geode-footer">Geode v1.0.0</span>
</body>
</html>