html {
    width:  100%;
    height: 100%;
}

body {
    margin: 0;

    width:  100%;
    height: 100%;

    overflow: hidden;
    color: white;

    font-family: 'Segoe UI', sans-serif;
}

.bg {
    position: fixed;
    -webkit-user-drag: none;
    user-select: none;
    z-index: -10;
}

*{
    margin: 0;
    padding: 0;
}

*:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

img {
    user-select: none;
}

*::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    background: #676767;
    border-radius: 5px;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

/* #3081CC #3C94E4 #1f5f9a - blue */
/* #1d9a2d - green */
/* #c1680d - orange */

.geode-layer {
    background-color: black;
    opacity: 0.7;

    position: absolute;
    z-index: -5;

    width:  100%;
    height: 100%;

    transition: opacity 0.2s;
}

.geode-app {
    width:  100%;
    height: 100%;
}

.geode-footer {
    position: absolute;

    right: 0px;
    bottom: 0px;

    margin-bottom: 5px;
    margin-right:  10px;

    color: rgb(255, 255, 255);
    font-size: 16px;

    opacity: 0.5;
    z-index: -4;

    -webkit-user-drag: none;
    user-select: none;
}

.geode-window {
    background-color: #272727e7;
    border: 1px solid black;

    position: absolute;

    border-radius: 3px;

    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);

    transition: opacity 0.2s;
    animation: popIn ease 0.32s;
}

.window-top {
    width: auto;
    height: 25px;

    padding-top: 4px;
    padding-bottom: 4px;

    padding-left:  15px;
    padding-right: 4px;

    display: flex;
    flex-direction: row;

    -webkit-user-drag: none;
    user-select: none;
}

.window-title {
    color: #aaa;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    line-height: 1.2;

    height: 22px;
    display: flex;
    align-items: center;

    flex: 1;
}

.window-button {
    opacity: 0.5;
    box-sizing: border-box;
    padding: 4px;

    height: 100%;

    padding-left:  8px;
    padding-right: 8px;

    margin-left: 5px;

    cursor: pointer;

    -webkit-user-drag: none;
    user-select: none;
}

.window-button:hover {
    opacity: 1;
}

.window-button:active {
    background-color: rgba(0, 0, 0, 0.439);
    border-radius: 3px;
}

.window-button.pinned {
    background-color: #3C94E4 !important;
    opacity: 1;
    border-radius: 3px;
}
.window-button.pinned:hover {
    background-color: #3081CC !important;
}

.close-button:active {
    background-color: #f33333 !important;
}

.window-drag {
    position: absolute;
}

.drag-top {
    top: -4px;

    width: calc(100% - 78px);
    height: 8px;

    cursor: n-resize;
}

.drag-left {
    top: 0px;
    left: -4px;

    height: 100%;
    width: 8px;

    cursor: e-resize;
}

.drag-bottom {
    bottom: -4px;
    
    width: 100%;
    height: 8px;

    cursor: n-resize;
}

.drag-right {
    top: 0px;
    right: -4px;

    height: 100%;
    width: 8px;

    cursor: e-resize;
}

.drag-topleft {
    top: -4px;
    left: -4px;

    height: 8px;
    width: 8px;

    cursor: nw-resize;
}

.drag-topright {
    top: -4px;
    right: -4px;

    height: 8px;
    width: 8px;

    cursor: ne-resize;
}

.drag-bottomleft {
    bottom: -4px;
    left: -4px;

    height: 8px;
    width: 8px;

    cursor: sw-resize;
}

.drag-bottomright {
    bottom: -4px;
    right: -4px;

    height: 8px;
    width: 8px;

    cursor: se-resize;
}

.window-content {
    height: calc(100% - 32px);

    overflow: hidden;
}

.sidebar-list {
    width: 160px;
    height: 100%;
    background: #00000022;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.sidebar-list-item {
    flex-direction: column;
    display: flex;
    min-height: 40px;
    border-bottom: 1px solid #0005;
    padding: 5px 15px;
    justify-content: center;
    user-select: none;
}
.sidebar-list-item:hover {
    background: #00000022;
}
.sidebar-list-item.sel {
    background: #3081CC;
}
.sidebar-list-item p {
    font-size: 12px;
    color: #ffffff66;
}

.flex {
    display: flex;
}

.sidebar-info {
    width: 100%;
}

@keyframes windowSemiFade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}