html {
    width:  100%;
    height: 100%;
}

body {
    margin: 0;

    width:  100%;
    height: 100%;

    overflow: hidden;

    font-family: 'Segoe UI', sans-serif;
}

.bg {
    position: fixed;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    z-index: -10;
}

.geode-layer {
    background-color: black;
    opacity: 0.7;

    position: absolute;
    z-index: -5;

    width:  100%;
    height: 100%;

    transition: opacity 0.2s;
}

.geode-app {
    width:  100%;
    height: 100%;
}

.geode-footer {
    position: absolute;

    right: 0px;
    bottom: 0px;

    margin-bottom: 5px;
    margin-right:  10px;

    color: rgb(255, 255, 255);
    font-size: 16px;

    opacity: 0.5;
    z-index: -4;

    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.geode-window {
    background-color: #272727e7;
    border: 1px solid black;

    position: absolute;

    border-radius: 3px;

    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);

    transition: opacity 0.2s;
}

.window-top {
    width: auto;
    height: 20px;

    padding-top: 4px;
    padding-bottom: 4px;

    padding-left:  15px;
    padding-right: 4px;

    display: flex;
    flex-direction: row;

    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.window-title {
    color: rgb(189, 189, 189);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    line-height: 1.2;

    height: 22px;

    flex: 1;
}

.window-button {
    filter: brightness(0.74);

    height: 100%;

    padding-left:  9px;
    padding-right: 9px;

    margin-left: 5px;

    cursor: pointer;

    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.window-button:hover {
    background-color: rgba(0, 0, 0, 0.239);

    filter: brightness(1);

    border-radius: 3px;
}

.window-button:active {
    background-color: rgba(0, 0, 0, 0.439);

    filter: brightness(1);

    border-radius: 3px;
}

.pinned {
    background-color: rgb(95, 111, 255) !important;
    
    border-radius: 3px;
}

.close-button:active {
    background-color: rgb(255, 43, 43) !important;
    
    border-radius: 3px;
}

.window-drag {
    position: absolute;
}

.drag-top {
    top: -4px;

    width: calc(100% - 78px);
    height: 8px;

    cursor: n-resize;
}

.drag-left {
    top: 0px;
    left: -4px;

    height: 100%;
    width: 8px;

    cursor: e-resize;
}

.drag-bottom {
    bottom: -4px;
    
    width: 100%;
    height: 8px;

    cursor: n-resize;
}

.drag-right {
    top: 0px;
    right: -4px;

    height: 100%;
    width: 8px;

    cursor: e-resize;
}

.drag-topleft {
    top: -4px;
    left: -4px;

    height: 8px;
    width: 8px;

    cursor: nw-resize;
}

.drag-topright {
    top: -4px;
    right: -4px;

    height: 8px;
    width: 8px;

    cursor: ne-resize;
}

.drag-bottomleft {
    bottom: -4px;
    left: -4px;

    height: 8px;
    width: 8px;

    cursor: sw-resize;
}

.drag-bottomright {
    bottom: -4px;
    right: -4px;

    height: 8px;
    width: 8px;

    cursor: se-resize;
}

.window-content {
    height: calc(100% - 32px);

    margin-left:   4px;
    margin-right:  4px;
    margin-bottom: 4px;
}